<link href="css/main.css" rel="stylesheet">

<main class="flex-shrink-0 background">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="eyl_logo" src="images/eyl.png" alt="First slide">
                </div>
            </div>
        </div>
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h4 id="title_p">| EYLCORP : services informatiques |</h4>
            <p id="space_p">Sites web / Applications mobiles / Cloud & Cybersécurité</p>
        </div>
    </div>
    <!--
    <button class="button1">
        <a href="#team">En savoir plus</a>
    </button>
    -->
</main>