<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>EYL CORP</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/equipe.css" rel="stylesheet">
    <%- include('layouts/nav') %>
  </head>
  <body>
    <img src="images/equipe.png" class="staff">
    <div class="team">
      <div class="face"
           style="background: url(images/nolann.jpeg)
           center/cover">
      </div>
      <div class="face"
           style="background: url(images/lucien.jpeg)
           center/cover">
      </div>
      <div class="face active"
           style="background: url(images/enzo.jpeg)
           center/cover">
      </div>
      <div class="face"
           style="background: url(images/yannick.jpeg)
           center/cover">
      </div>
      <div class="face"
           style="background: url(images/ahmed.jpeg)
           center/cover">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(".face").click(function() {
        $(".face").removeClass("active");
        $(this).addClass("active");
      })
    </script>
  </body>
  <footer>
    <%- include('footer') %>
  </footer>
</html>