<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>EYL CORP</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/equipe.css" rel="stylesheet">
    <%- include('layouts/nav') %>
  </head>

  <body>
  <div class="global-card">
  <div class="card">
    <img class ="cardimg" src="images/lucien.jpeg" alt="Avatar" style="width:100%">
    <div class="text">
      <h4><b>Lucien Carneiro</b></h4>
      <p>DT</p>
      <p>Co-Fondateur EYL</p>
    </div>
  </div>
  <div class="card">
    <img class ="cardimg" src="images/enzo.jpeg" alt="Avatar" style="width:100%">
    <div class="text">
      <h4><b>Enzo De Carvalho</b></h4>
      <p>PDG</p>
      <p>Co-Fondateur EYL</p>
    </div>
  </div>
  <div class="card">
    <img class ="cardimg" src="images/yannick.jpeg" alt="Avatar" style="width:100%">
    <div class="text">
      <h4><b>Yannick Ferrard</b></h4>
      <p>DG</p>
      <p>Co-Fondateur EYL</p>
    </div>
  </div>
  </div>
  </body>
  <footer>
    <%- include('footer') %>
  </footer>

</html>