<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>EYL CORP</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/equipe.css" rel="stylesheet">
</head>

<body>
    <div>
        <section id="team" class="team-section text-center my-5">

            <h2 class="h1-responsive font-weight-bold my-5">L'équipe EYLcorp</h2>
            <p class="grey-text w-responsive mx-auto mb-5">Là où les benchmarks désignent l'offre stratégique, le marché exige de revitaliser les capitaux vente.</p>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://i.ibb.co/YRJxFgj/lucien.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Lucien Carneiro</h5>
                    <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>
                    <p class="grey-text">...</p>
                    <ul class="list-unstyled mb-0">
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg tw-ic">
                            <i class="fab fa-twitter blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://i.ibb.co/YRJxFgj/lucien.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Lucien Carneiro</h5>
                    <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>
                    <p class="grey-text">...</p>
                    <ul class="list-unstyled mb-0">
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg tw-ic">
                            <i class="fab fa-twitter blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://i.ibb.co/r6gYK9H/nolann.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Nolann Sabre</h5>
                    <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
                    <p class="grey-text">...</p>
                    <ul class="list-unstyled mb-0">
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://i.ibb.co/7pHkxFv/yannick.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Yannick Ferrard</h5>
                    <p class="text-uppercase blue-text"><strong>Photographer</strong></p>
                    <p class="grey-text">...</p>
                    <ul class="list-unstyled mb-0">
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-dribbble blue-text"> </i>
                        </a>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="avatar mx-auto">
                        <img src="https://i.ibb.co/hsYWHTV/enzo.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Enzo De Carvalho</h5>
                    <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
                    <p class="grey-text">....</p>
                    <ul class="list-unstyled mb-0">
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-github blue-text"> </i>
                        </a>
                    </ul>
                </div>
            </div>
    </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(".face").click(function() {
            $(".face").removeClass("active");
            $(this).addClass("active");
        })
    </script>
</body>
<footer>
    <%- include('footer') %>
</footer>

</html>