<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EYL CORP </title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/%22%3E">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <%- include('layouts/nav') %>


</head>

<body>
    <%- include('body') %>

</body>
<footer>
    <%- include('footer') %>

</footer>

</html>