<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EYL CORP</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <%- include('layouts/nav') %>

  </head>

  <body>
  <div class="slidershow middle">
    <div class="row slides">
      <input type="radio" name="r" id="r1" checked>
      <input type="radio" name="r" id="r2">
      <input type="radio" name="r" id="r3">
      <div class="slide s1">
          <img src="images/regus1.jpg" alt="">
      </div>
      <div class="slide">
        <img src="images/regus2.jpg" alt="">
      </div>
      <div class="slide">
        <img src="images/regus3.jpg" alt="">
      </div>
    </div>
    <div class="navgat">
      <label for="r1" class="bargat"></label>
      <label for="r2" class="bargat"></label>
      <label for="r3" class="bargat"></label>
    </div>
  </div>
  <div class="portfolio_paragraph">
    <p>EYLcorp est une société de prestation de service dans le domaine de l'informatique.</p>
    <p>Nous sommes plus particulièrement spécialisé dans le développement d'applications mobiles</p>
    <p>et de sites web ainsi que dans le domaine de la sécurité informatique, mais nous restons polyvalents.</p>
    <p>Notre équipe possède des compétences techniques pointues et se tient à disposition pour répondre</p>
    <p>au mieux aux besoins de sa clientèle.</p>
  </div>
  <div class="techno">
    <p>Nos technologies utilisées :</p>
  </div>
  <div class="row">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
    <img class="col-xl-1" src="images/regus.png">
  </div>
  </body>
  <footer>
    <%- include('footer') %>

  </footer>

</html>