<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EYL CORP</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <%- include('layouts/nav') %>

  </head>

  <body>
  <div class="portfolio_banner">
    <img src='images/eyl__1_-removebg-preview.png' class="logo_port">
    <div class="portfolio_paragraph">
      <p>EYLcorp est une société de prestation de service dans le domaine de l'informatique</p>
      <p>Nous sommes plus particulièrement spécialisé dans le développement d'applications mobiles</p>
      <p>et de sites web ainsi que dans le domaine de la sécurité informatique.</p>
    </div>
  </div>

  </body>
  <footer>
    <%- include('footer') %>

  </footer>

</html>