.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}

#space {
  justify-content: space-between;
}

#message {
  margin-top: 10px;
}

#button {
  margin-top: 10%;
  background-color: black;
  border-color: black;
  padding-left: 10%;
  padding-right: 10%;
}

#aze{
  background-color: aliceblue;
}

.global-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 30px;
}

#space_p {
  font-weight: bold;
  font-style: oblique;
  color: white;

}

.border {
  border-style:solid;
  border-color:#287EC7;
  font-weight: bold;
  border-width: 10px;
  margin-left: 28%;
  margin-right: 28%;
}

#title_p {
  font-weight: bold;
  color: white;
}

.eyl_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 80%;
}

.background {
  width: 100vw;
  min-height: 100vh;
  background-color: #212529;

}

.nav {
  color: white;
}

.portfolio_banner {
  text-align: center;
}

.portfolio_paragraph {
  float: right;
  margin-top: -15%;
  margin-right: 15%;
  color: black;
  text-align: center;
}

#banner {
  width: 100%;
  height: 300px;
  background-color: #212529;
  background-position: center;
}

.banner_image {
    height: 70%;
    margin-left: 20%;
}

.techno {
  text-align: center;
}

.team {
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  text-align: center;
  margin: auto;
}

.face {
  min-width: 60px;
  margin: 10px;
  cursor: pointer;
  transition: .5 cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  position: relative;
}

.face.active {
  flex-grow: 100;
  max-width: 600px;
  margin: 0px;
  border-radius: 7px;
  background-size: auto 100%;
}

.face:not(.active) {
  flex-grow: 1;
  border-radius: 5px;
}

.staff {
  display: flex;
  text-align: center;
  margin: auto;
}

.slidershow {
  margin-left: 2%;
  margin-top: 1%;
  width: 450px;
  height: 340px;
  overflow: hidden;
}

.middle {
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-0%, -0%);
}

.navgat {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bargat {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
}

.bargat:hover {
  background: #FFF;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -94%;
}

#r3:checked ~ .s1 {
  margin-left: -188%;
}

.center_icon {
  display: block;
  text-align: center;
}