.button1 {
    background-color: purple;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 300px;
}


footer{
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    margin-top: 200px;  
}

.nav-link accueil{
    color:black;
}